.home-page {
  position: relative;
}
.home-nav {
  padding: 0 3rem;
  border-bottom: black 2px solid;
}
.home-nav .history {
  color: black;
  text-decoration: none;
  text-align: right;
}
.show {
  display: block;
}
.icon:hover {
  cursor: pointer;
}
.icons {
  display: flex;
  justify-content: flex-end; /* Push icons to the right */
}

/* style for lists */
.list {
  margin: 0 2rem;
  width: 25%;
}
.list h3 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.add-icon {
  margin-left: 0.3rem;
}
.delete-icon {
  color: rgb(165, 69, 69);
}

/* style for board */
.board-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  overflow-x: auto; 
  padding: 10px;
  gap: 20px; 
  min-height: 100vh;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.board {
  min-width: 300px; 
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-card-button {
  width: 100%;
  border-radius: 0;
  background-color: azure;
  border: 1px blue solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem 0;
}
.board-header {
  font-weight: bold;
  margin-bottom: 10px;
}

/* style for task */
.task-card {
  border: black solid 2px;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-tag-container {
  display: flex;
  justify-content: flex-end; /* Pushes to the right */
}

.task-tag {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
  background-color: red;
  margin: 0;
  padding: .2rem .5rem;
  width: 30%;
}

.task-description{
  width: 80%;
}
.title{
  width: 50%;
}
.task-title {
  margin-top: 2rem;
  margin-bottom: 0;
}

.task-list {
  border: solid black 2px;
  border-bottom: none;
  padding: 1rem 1rem;
  padding-top: 0rem;
}

/* style for newtasks */
.card-title{
  color: rgb(46, 247, 46);
  margin: 0 .2rem;
}
.task-form-container {
  z-index: 1000;
  position: absolute;
  padding: 2rem 1rem;
  top: 10vh;
  left: 0;
  right: 0;
  width: 50vw;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 80vh;
  background-color: rgb(124, 120, 120);
  color: white;
  border-radius: 2rem;
  transform: translateY(-20px); 
  transition: all 0.3s ease-in-out;
  pointer-events: none;  
  opacity: 0;  
}
.task-form{
  width: 100%;
}
.task-form-title{
  text-align: center;

}
.task-form-container button{
  background-color: black;
  color: white;
  padding: .5rem 2rem;
  border-radius: .5rem;
}
.task-form-container button:hover{
  background-color: white;
  color: black;
  border: solid 2px black;
 
}
.close-icon{
  font-size: 2rem;
  text-align: right;
}
.display {
opacity: 1;
transform: translateY(0);  
pointer-events: auto; 
}


.task-input {
  margin: 1rem 0;
}
.task-input input, select{
  border-radius: 0.5rem;
  height: 1.5rem;
  text-decoration: none;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  border: 1px solid transparent;
  outline: none;
}
.color-pickers{
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .task-form-container {
    width: 85vw;
    margin: auto;
  }
  .list{
    width: 89vw;
  }
  .task-list{
    width: 50vw;
  }
}

@media (max-width: 500px) {
  .list{
    width: 89vw;
    margin-left: 0;
  }
  .task-list{
    width: 60vw;
  }
}






